%h1 Listing encounters

%table
  %tr
    %th Name
    %th
    %th
    %th
    %th

  - @encounters.each do |encounter|
    %tr
      %td= encounter.name
      %td= link_to 'Run', init_campaign_encounter_path(@campaign, encounter)
      %td= link_to 'Show', campaign_encounter_path(@campaign, encounter)
      %td= link_to 'Edit', edit_campaign_encounter_path(@campaign, encounter)
      %td= link_to 'Destroy', campaign_encounter_path(@campaign, encounter), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New encounter', new_campaign_encounter_path(@campaign)
= link_to 'Back to campaigns', campaigns_path
