%h1= "Preparing to run #{@encounter.name}"

%p
  %b Name:
  = @encounter.name

  = form_for [@campaign, @encounter], :url => run_campaign_encounter_path(@campaign, @encounter), :html => {:method => 'post'} do
    %table
      - @characters.each do |character|
        %tr.character
          %td.name= character.name
          %td
            %input{:id => "characters_#{character.id}_roll", :name => "characters[#{character.id}][roll]"}

    %input{:type => "submit"}
