%h1= "Preparing to run #{@encounter.name}"

= link_to "Back", :back

%p
  %h2 Charcters in campaign
  = render :partial => "characters/list", :locals => {:characters => @campaign_characters}
%p
  %h2 Charcters in encounter
  = form_for [@campaign, @encounter], :url => run_campaign_encounter_path(@campaign, @encounter), :html => {:method => 'post', :class => "characters_list"} do |f|
    %table
      %tr
        %th Name
        %th Base Initiative
        %th Initiative Roll

      - @characters.each do |character|
        %tr.character
          %td.name= character.name
          %td
            %input{:id => "characters_#{character.id}_roll", :name => "characters[#{character.id}][roll]"}

    = f.submit "Run"
