%p
  %b Name:
  = @encounter.name

  %table#characters
    - @characters.each do |character|
      %tr.character
        %td.initiative= character.initiative
        %td.name= character.name

  %button#previous previous
  %button#next next


= link_to 'Edit', edit_encounter_path(@encounter)
\|
= link_to 'Back', encounters_path
