%p
  %b Name:
  = @encounter.name

  %table#characters
    - @characters.each do |character|
      %tr.character
        %td.initiative= character.base_initiative
        %td.name= character.name


= link_to 'Edit', edit_campaign_encounter_path(@campaign, @encounter)
\|
= link_to 'Back', campaign_encounters_path(@campaign)
