%h1= "Editing the \"#{@campaign.name}\" campaign"

= render 'form'

= link_to "Add an encounter", new_campaign_encounter_path(@campaign)
|
= link_to "Add a character", new_campaign_character_path(@campaign)
|
= link_to 'Show', @campaign
|
= link_to 'Back', campaigns_path
