%h1 Listing campaigns

%table
  %thead
    %tr
      %th Name
      %th{ :colspan => 3 }
  
  %tbody
    - for campaign in @campaigns
      %tr{ :class => cycle(:odd, :even) }
        %td= campaign.name
        %td= link_to 'Show', campaign
        %td= link_to 'Edit', edit_campaign_path(campaign)
        %td= link_to 'Destroy', campaign, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New campaign', new_campaign_path
