%p
  %strong Name:
  = @campaign.name

%p
  %strong= link_to "Encounters", campaign_encounters_path(@campaign)
  - for encounter in @campaign.encounters.all
    %ul
      %li
        = link_to encounter.name, campaign_encounter_path(@campaign, encounter)
%p
  %strong= link_to "Characters", campaign_characters_path(@campaign)
  - for character in @campaign.characters.all
    %ul
      %li
        = link_to character.name, campaign_character_path(@campaign, character)

= link_to 'Edit', edit_campaign_path(@campaign)
|
= link_to 'Back', campaigns_path
