%p
  %strong Name:
  = @campaign.name

  %strong Encounters:
  = for encounter in @campaign.encounters.find(:all)
    %ul
      %li
        = encounter.name

= link_to 'Edit', edit_campaign_path(@campaign)
|
= link_to 'Back', campaigns_path
